<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rokan.mychat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/chats"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.OnlyStatusBar">
        <activity
            android:name=".activities.EditBasicInfoActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.MessageSentActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.FirstConversationActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.BlockedUserActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.TransactionActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.BoddoSupportActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.BuyBoddoCreditsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ActiveUserActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.PhotoCommentActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.PhotoLikeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ChatRoomsBaseActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.SearchUserActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ProfilePictureActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.UploadPhotoActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ChatRequestActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.HotListActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ActivitiesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ChatRoomsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.PrivateChatActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.MatchActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.UserPhotoBlogActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ProfileSecondActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ProfileFirstActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ViewImageActivity"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.MessagesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.LandingActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity android:name=".dialog.ForgetPasswordDialog" />
        <activity android:name=".dialog.InfoDialog" />
        <activity android:name=".dialog.ProfileSecondInfoDailog" />
        <activity
            android:name=".activities.PicturesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>