<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rokan.mychat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/chats"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.OnlyStatusBar">
        <activity android:name=".activities.ActivitiesActivity"></activity>
        <activity android:name=".activities.ChatRoomsActivity" />
        <activity android:name=".activities.PrivateChatActivity" />
        <activity
            android:name=".activities.MatchActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.UserPhotoBlogActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ProfileSecondActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ProfileFirstActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.ViewImageActivity"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.MessagesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.LandingActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
        <activity android:name=".dialog.ForgetPasswordDialog" />
        <activity android:name=".dialog.InfoDialog" />
        <activity
            android:name=".activities.PicturesActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.OnlyStatusBar" />
    </application>

</manifest>